body {
    background:linear-gradient(#000000,#000000,#333232);
    margin:5% 20%;
    
}
div{
    color:white;
    padding-bottom:20px;
}
input, select, option {
    color:black;
    background:#c0d0c0;
}
.list-container {
    border:1px solid #f1f1f1;
    border-radius:10px;
    background:rgb(48 49 53);
    overflow:hidden;
}
.table-header{
    background:#191911;
    border-left:none;
    font-size:13px;
}
ul{
    display:flex;
    padding-right:40px;
    color:white; 
    margin:0px 0;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:1px dotted grey;
    border-left:4px solid #303135;
}
li {
    list-style-type:none;
    margin-left:auto;
    display:flex;
    justify-content:space-around;
    width:5%;
}
li:first-of-type{
    padding-right:20px;
    display:flex;
    width:2%;
    justify-content:space-around;
    margin-left:0;

}
li:nth-of-type(2){
    margin-left:0;
    width:55%;
    justify-content:left;
}
ul:hover{
    background:#636342;
    cursor:pointer;
}
.first-4{
    border-left:4px solid blue;
}
.first-6{
    border-left:4px solid orange;
}
.last-3{
    border-left:4px solid #ff3600;
}
@media screen and (max-width:900px){
    .table-header, li{
        font-size:12px;
    }
}